ion-title{
    color: darkorange;
}
h1{
    font-size: 20px;
    color: darkorange;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    padding-bottom: 15%;
    padding: 40px;
}

#button{
    background-color: darkorange;
    color: white;
}
.botão{
    color: darkorange;
}
.dsp-block{
    margin-left: 34%;
    width: 70px;
}
.form-control{
    padding: 12px 16px;
}
