.titulo{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
h1{
    font-size: 20px;
    color: darkorange;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    padding-bottom: 15%;
    padding: 40px;
}

#button{
    margin-top: 20px;
    background-color: #ff8c00;
    color: white; 
}
.botão{
    color: darkorange;
}
.dsp-block{
    margin-left: 34%;
    width: 70px;
}
ion-title{
    color: darkorange;
}