.titulo{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
h1{
    font-size: 20px;
    color: darkorange;
}
.container{
    margin-top: 15%;
    width: 90%;
    padding-bottom: 15%;

}

#floatingInput1{
    margin: 5px;
}
#button{
    margin-top: 20px;
    background-color: #ff8c00;
    color: white; 
}

.button{
    color: darkorange;
}
.dsp-block{
    margin-left: 34%;
    width: 70px;
}
ion-title{
    color: darkorange;
}
