<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Início</ion-title>
    <ion-menu-button id="button" slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tab1">
  <a routerLink="/reparo/reparo"><ion-img src="../../assets/img/ferramentas.png" style="height: 50px;"></ion-img></a>
  <a routerLink="/configuracao/configuracao"><ion-img src="../../assets/img/engrenagem.png" style="height: 50px;"></ion-img></a>
  <a routerLink="/documentacao/documentacao"><ion-img src="../../assets/img/arquivo-e-pasta.png" style="height: 50px;"></ion-img></a>
  </div>
  <div class="tab2">
    <p><b>Reparo/Defeito</b></p>
    <p><b>Configuração</b></p>
    <p><b>Documentação</b></p>
  </div>

</ion-content>


